

        .icon-bar {
            width: 10%;
            text-align: center;
            background-color: #B40404;
            position: fixed;
            height: 100%;
            margin-top: -2%;
        }

        .icon-bar a {
            padding: 16px;
            display: block;
            transition: all 0.3s ease;
            color: white;
            font-size: 36px;
        }

        .icon-bar a:hover {
            background-color: #000;
        }

        .active {
            background-color:black;
        }
        #footer {
            position:fixed;
            left:0px;
            bottom:0px;
            height:2%;
            width:100%;
            background:#B40404;
        }
        #content{
            margin-left: 10%;
        }
        h1{
            font-size: 25px;
            color: white;
            text-align: inherit;
            padding: 1em 0;
            font-family: 'Segoe UI Light', 'Segoe UI', 'Open sans', Arial, Sans;
            line-height: 30px;
            text-align: center;
            padding-bottom: 10px;
            margin-top: -3%;
            margin-left: -6%;
        }
        .ad{
            font-family: 'Segoe UI Light', 'Segoe UI', 'Open sans', Arial, Sans;
            background: #990000;
            margin: 0 auto;
            padding: 30px;
            width: 50%;
            color: #fff;
            font-size: 18px;
            line-height: 1em;
            margin-top:5%;
        }
        .ad td{
            display: block;
            margin: 0 0 5px;
            cursor: pointer;
        }
        .ad input,.ad select,.ad option{
            font-family: 'Segoe UI Light', 'Segoe UI', 'Open sans', Arial, Sans;
            font-size: 14px;
            border: 0;
            background:  #fff ;
            margin: 0 0 20px;
            padding: 8px 10px;
            display: block;
            width: 50% ;
            color:black;
            text-align: center;
        }
        button{
            border:0;
            background: #fff;
            color: #990000;
            padding:5px 20px;
            margin-right: 10px;
            min-width: 145px;
        }
        button:hover{
            color: #000;
            background: #990000;
        }
        button.submit{
            background:url("../../img/Ok.png") #fff 10px center no-repeat;
            padding-left: 44px;
            margin-right: 0;
        }
        button.reset{
            background:url("../../img/Cancel.png") #fff 10px center no-repeat;
            padding-left: 44px;
            margin-right: 0;
        }


