ul#top {
    list-style-type: none;
    overflow: hidden;
    background-color: #000;
    margin-left: -9.5%;
    width:115%;
    height: 9.5%;
    padding-left: 16%;
    float: left;
    position: relative;
}

li.topn {
    float: left;
    border:1px solid #bbb;

}

li.topn a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

}

li.topn a:hover:not(.active) {
    background-color: #B40404;
}
.bar{
    margin-top: -2px;
}
